{
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "/home/ubuntu/.local/bin/dcg"
          }
        ]
      },
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "/home/ubuntu/.local/bin/rch"
          }
        ]
      }
    ],
    "PreCompact": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "$HOME/.local/bin/claude-precompact-marker"
          }
        ]
      }
    ],
    "UserPromptSubmit": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "$HOME/.local/bin/claude-prompt-compact-check"
          }
        ]
      }
    ]
  },
  "autoUpdatesChannel": "stable",
  "mcpServers": {
    "mcp-agent-mail": {
      "type": "http",
      "url": "http://127.0.0.1:8765/mcp/",
      "headers": {
        "Authorization": "Bearer 2de22780bf27d2445baa6f83a6c21b4f4f0185bbeb7619e99f9f0f78d0965273"
      }
    }
  },
  "skipDangerousModePermissionPrompt": true
}
